<p class="text">Bienvenidos a Aroma Veli, un emprendimiendo de dos amigas con pasión por la naturaleza y la aromaterapia.<br>
    Ofrecemos opciones para que logres relajarte, cmo velas aromáticas y almohadillas térmicas con diferentes semillas y especies para aliviar dolores.
    Estamos muy contentas de poder lograr hacerles llegar nuestros productos naturales, hechos a mano.<br><br>
    Contamos con exquisitos aromas cómo: Naranja, Coco, Limón, Rosa, Eucalipto, Marina, Verbena, Vainilla, Lavanda y Jazmín.🍋🌹🌿
</p>
    <p class="text">📬 Envíos a todo el país 🇺🇾  <br> 📥 Pedidos por <a href="https://www.instagram.com/aroma.veli/" target="_blank">Instagram</a>, <a href="www.facebook.com/people/Aroma-Veli/" target="_blank">Facebook</a> y correo gmail</p>